## Association rules models with the Apriori algorithm

In [5]:
!pip install mlxtend

Collecting mlxtend
  Obtaining dependency information for mlxtend from https://files.pythonhosted.org/packages/0f/92/5c322336a0991949a1e91f6acd7e04f7e05b0fb6252a3f00fcdc0cb5e97d/mlxtend-0.23.3-py3-none-any.whl.metadata
  Using cached mlxtend-0.23.3-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.11.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (3.7.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Using cached mlxtend-0.23.3-py3-none-any.whl (1.4 MB)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.3

In [6]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

data = pd.read_csv('groceries.csv')
data

,1,2,3,4,5,6,7,8,9
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3085,whipped/sour cream,domestic eggs,bottled water,soda,NaN,NaN,NaN,NaN,NaN
3086,tropical fruit,pip fruit,other vegetables,butter milk,yogurt,whipped/sour cream,UHT-milk,margarine,sugar
3087,UHT-milk,canned beer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3088,root vegetables,semi-finished bread,specialty bar,NaN,NaN,NaN,NaN,NaN,NaN
3089,frankfurter,sausage,butter,dessert,spread cheese,white bread,pastry,coffee,waffles

In [7]:
data.head()

,1,2,3,4,5,6,7,8,9
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN

In [8]:
baskets_sets = data.stack().str.get_dummies().groupby(level = 0).sum()

In [9]:
baskets_sets.head()

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
baskets_sets_bool = baskets_sets.astype(bool)
apriori(baskets_sets_bool,min_support=0.02)

      support         itemsets
0    0.028155              (1)
1    0.054369              (8)
2    0.032039              (9)
3    0.027508             (10)
4    0.072492             (11)
..        ...              ...
105  0.022977       (154, 163)
106  0.033981       (162, 158)
107  0.055987       (162, 163)
108  0.022977  (121, 162, 101)
109  0.022977  (162, 163, 101)

[110 rows x 2 columns]

In [11]:
baskets_sets_bool = baskets_sets.astype(bool)
apriori(baskets_sets_bool,min_support=0.02,use_colnames = True)

      support                                         itemsets
0    0.028155                                       (UHT-milk)
1    0.054369                                           (beef)
2    0.032039                                        (berries)
3    0.027508                                      (beverages)
4    0.072492                                   (bottled beer)
..        ...                                              ...
105  0.022977                         (yogurt, tropical fruit)
106  0.033981                 (whole milk, whipped/sour cream)
107  0.055987                             (yogurt, whole milk)
108  0.022977  (whole milk, root vegetables, other vegetables)
109  0.022977           (yogurt, whole milk, other vegetables)

[110 rows x 2 columns]

In [14]:
df_combo = baskets_sets.astype(bool)

frequent_itemsets = apriori(df_combo, min_support=0.002, use_colnames=True)

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

       support                                           itemsets  length
0     0.007120                            (Instant food products)       1
1     0.028155                                         (UHT-milk)       1
2     0.002913                                 (abrasive cleaner)       1
3     0.003560                                 (artif. sweetener)       1
4     0.014887                                    (baking powder)       1
...        ...                                                ...     ...
2313  0.002265  (yogurt, citrus fruit, whole milk, other veget...       5
2314  0.002589  (yogurt, citrus fruit, whole milk, other veget...       5
2315  0.002265  (yogurt, whole milk, pip fruit, other vegetabl...       5
2316  0.002265  (yogurt, whole milk, other vegetables, tropica...       5
2317  0.002265  (yogurt, whole milk, other vegetables, whipped...       5

[2318 rows x 3 columns]

In [28]:
frequent_itemsets[(frequent_itemsets['length']>=3)]

       support                                           itemsets  length
1260  0.002589        (bottled water, UHT-milk, other vegetables)       3
1261  0.002265                    (soda, bottled water, UHT-milk)       3
1262  0.002589      (baking powder, whole milk, other vegetables)       3
1263  0.002265    (baking powder, whole milk, whipped/sour cream)       3
1264  0.002589                        (beef, whole milk, berries)       3
...        ...                                                ...     ...
2313  0.002265  (yogurt, citrus fruit, whole milk, other veget...       5
2314  0.002589  (yogurt, citrus fruit, whole milk, other veget...       5
2315  0.002265  (yogurt, whole milk, pip fruit, other vegetabl...       5
2316  0.002265  (yogurt, whole milk, other vegetables, tropica...       5
2317  0.002265  (yogurt, whole milk, other vegetables, whipped...       5

[1058 rows x 3 columns]

rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)
rules.head()